---
import Layout from "../layouts/Layout.astro";
import Contador from "../components/Contador";
---

<Layout title="Welcome to Astro.">
	<h1 class="font-celestina text-8xl">Celestina modas</h1>
	<Contador client:load />
</Layout>

<div class="waves">
	<div class="wave circulo a"></div>
	<div class="wave circulo b"></div>
	<div class="wave circulo c"></div>
</div>

<style>
	.waves {
		position: absolute;
		bottom: -135px;
		height: 527px;
		width: 100%;
		overflow: hidden;
	}
	.wave {
		position: absolute;
		left: -180px;
		bottom: 0;
		width: 2402px;
		height: 427px;
		background: url(/src/assets/images/waves.png) center bottom no-repeat;
		animation: 5s wave ease-in-out infinite alternate;
	}
	.wave.a {
		background-position: 0 -854px;
	}
	.wave.b {
		background-position: 0 -427px;
		animation-delay: 0.6s;
	}
	.wave.c {
		background-position: 0 0;
		animation-delay: 1.2s;
	}

	@keyframes wave {
		0% {
			transform: translate(0, 0);
		}
		50% {
			transform: translate(-80px, 30px);
		}
		100% {
			transform: translate(160px, -60px);
		}
	}
</style>
