---
import Layout from '../layouts/Layout.astro';
import Contador from '../components/Contador';
---

<Layout title="Welcome to Astro.">
	<h1 class="font-celestina text-8xl">Celestina modas</h1>
	<Contador client:load />
</Layout>